{% extends 'base.html' %}

{% load humanize %}
{% block content %}
<div class="col-lg-6 offset-lg-3">

    <h1>Delete</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <h2 class="info-msg">{{ message }}</h2>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2 class="info-msg">以下の作品情報を削除してもよいですか？</h2>

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="40%">作品タイトル</th>
                <td width="60%">{{ work.title }}</td>
            </tr>
            <tr>
                <th width="40%">作者</th>
                <td width="60%">{{ work.authorName }}</td>
            </tr>
            <tr>
                <th width="40%">画材</th>
                <td width="60%">{{ work.material }}</td>
            </tr>
            <tr>
                <th width="40%">価格</th>
                <td width="60%">{{ work.price }}</td>
            </tr>
            <tr>
                <th width="40%">メモ</th>
                <td width="60%">{{ work.memo }}</td>
            </tr>
            <tr>
                <th width="40%">作成年月日</th>
                <td width="60%">{{ work.create_datetime }}</td>
            </tr>
        </tbody>
    </table>


    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="ボタングループのツールバー">
        <div class="btn-group mr-2">
            <a class="btn btn-primary w-150px" href="{% url 'works:detail' work.pk %}" role="button">キャンセル</a>
        </div>
        <div class="btn-group mr-2">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-success w-150px">削除実行</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}