{% extends 'base.html' %}

{% block content %}
<div class="col-lg-6 offset-lg-3">

    <h1>Detail</h1>

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="40%">作品タイトル</th>
                <td width="60%">{{ work.title }}</td>
            </tr>
            <tr>
                <th width="40%">作者</th>
                <td width="60%">{{ work.authorName }}</td>
            </tr>
            <tr>
                <th width="40%">画材</th>
                <td width="60%">{{ work.material }}</td>
            </tr>
            <tr>
                <th width="40%">価格</th>
                <td width="60%">{{ work.price }}</td>
            </tr>
            <tr>
                <th width="40%">メモ</th>
                <td width="60%">{{ work.memo }}</td>
            </tr>
            <tr>
                <th width="40%">作成年月日</th>
                <td width="60%">{{ work.create_datetime }}</td>
            </tr>
        </tbody>
    </table>

    <section>
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block col-4 mx-auto" onClick="javascript:history.back();">戻る</button>
        </div>
    </section>

</div>
{% endblock %}