{% extends 'base.html' %}

{% block content %}
<div class="col-lg-6 offset-lg-3">

    <h1>Detail</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <h2 class="info-msg">{{ message }}</h2>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="40%">作品タイトル</th>
                <td width="60%">{{ work.title }}</td>
            </tr>
            <tr>
                <th width="40%">作者</th>
                <td width="60%">{{ work.authorName }}</td>
            </tr>
            <tr>
                <th width="40%">画材</th>
                <td width="60%">{{ work.material }}</td>
            </tr>
            <tr>
                <th width="40%">価格</th>
                <td width="60%">{{ work.price }}</td>
            </tr>
            <tr>
                <th width="40%">メモ</th>
                <td width="60%">{{ work.memo }}</td>
            </tr>
            <tr>
                <th width="40%">作成年月日</th>
                <td width="60%">{{ work.create_datetime }}</td>
            </tr>
        </tbody>
    </table>

    <section>
        <div class="col-12">
            <a class="btn btn-primary btn-block col-4 mx-auto" href="{% url 'works:index' %}" role="button">検索画面へ</a>
        </div>
    </section>

</div>
{% endblock %}